.calculator {
    width: 250px;
    margin: 40px auto;
    padding: 20px;
    background-color: #0e07e9;
    border: 1px solid #9d78b3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background-color: #698fb8;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #32032c;
}

#display {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}